@model MvcBug2Bug.Models.Title

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Title</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EditionNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditionNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Copyright)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Copyright)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
