@model MvcBug2Bug.Models.Title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <td><i>@Html.DisplayNameFor(model => model.ISBN)</i></td>
        <td>@Html.DisplayFor(model => model.ISBN)</td>
    </tr>

    <tr>
        <td><i>@Html.DisplayNameFor(model => model.Title1)</i></td>
        <td>@Html.DisplayFor(model => model.Title1)</td>
    </tr>

    <tr>
        <td><i>@Html.DisplayNameFor(model => model.EditionNumber)</i></td>
        <td>@Html.DisplayFor(model => model.EditionNumber)</td>
    </tr>

    <tr>
        <td><i>@Html.DisplayNameFor(model => model.Copyright)</i></td>
        <td>@Html.DisplayFor(model => model.Copyright)</td>
    </tr>

    <tr>
        <td><i>@Html.DisplayNameFor(model => model.Price)</i></td>
        <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.ISBN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
